body{
background-color: #4a4848;

}

div{

  color: #ffffffe8;
  width: 1000px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  margin-bottom: 130px;
  padding: 53px;
  box-shadow: 2px 4px 35px #0000008c;
}
h2{

  margin: 0;
  font-size: 50px;
  text-align: center;
}
span{

  font-size: 65px;
  color: #2bc9ed;
}
b{

  font-size: 65px;
  color: #1d0047;
}
p{

  font-size: 20px;
  line-height: 1.3;
}
img{

  width: 1000px;
  height: 480px;
}
